.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  display: flex;
  gap: 2rem;
  padding: 0 1rem;
}
.vertical-line {
  border-right: 3px solid #ffffff;
}

.left-content span {
  font-size: 1.5rem;
}

.right-content {
  display: flex;
  gap: 2rem;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.right-content .help-button {
  font-size: 2rem;
}

.right-content .help-button:hover {
  cursor: pointer;
  color: #b3d4fa;
}

.right-content .user-profile {
  background-color: #4d4f53;
  height: 100%;
  min-width: 300px;
  display: flex;
  place-items: center;
  gap: 0.5em;
  padding: 0px 10px;
  position: relative;
}

.right-content .user-profile:hover {
  cursor: pointer;
  background-color: #424348;
}

.right-content .logout-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0rem 18px;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  height: 50px;
  line-height: 50px;
  background-color: #4d4f53;
}

.user-profile:hover .logout-dropdown {
  display: block;
}

.logout-dropdown a:hover {
  text-decoration: underline;
}
